{block #content}

<h1 n:block="title">Dashboard</h1>


<div class="infographic">
	{$customer_count}
	<label class="l-stats">Zákazníků</label>
</div>
<div class="infographic">
	{$client_count}
	<label class="l-stats">Připojných míst</label>
</div>


